/* line 7, /Users/xaunlopez/Projects/wdi/05-backbone/xaun.github.io/source/stylesheets/style.scss */
nav {
  position: fixed;
  width: 100%;
  height: 90px;
  border-bottom: 4px solid black;
  text-align: right;
  z-index: 10;
  background-color: white; }
  /* line 16, /Users/xaunlopez/Projects/wdi/05-backbone/xaun.github.io/source/stylesheets/style.scss */
  nav h1 {
    position: absolute;
    margin-left: 20px;
    font-family: 'Poiret One', cursive;
    letter-spacing: 4px;
    top: 25px; }
  /* line 24, /Users/xaunlopez/Projects/wdi/05-backbone/xaun.github.io/source/stylesheets/style.scss */
  nav ul {
    display: inline-block;
    margin: 64px 30px 0 0; }
    /* line 28, /Users/xaunlopez/Projects/wdi/05-backbone/xaun.github.io/source/stylesheets/style.scss */
    nav ul li {
      display: inline-block;
      list-style: none;
      padding-left: 60px; }

/* line 37, /Users/xaunlopez/Projects/wdi/05-backbone/xaun.github.io/source/stylesheets/style.scss */
a, a:hover {
  text-decoration: none !important;
  color: black !important; }

/* line 48, /Users/xaunlopez/Projects/wdi/05-backbone/xaun.github.io/source/stylesheets/style.scss */
#about {
  background-image: url(/images/background.jpg);
  background-repeat: repeat;
  background-position: center 90px;
  background-origin: center;
  background-attachment: fixed; }
  /* line 55, /Users/xaunlopez/Projects/wdi/05-backbone/xaun.github.io/source/stylesheets/style.scss */
  #about p {
    font-size: 18px; }
    /* line 58, /Users/xaunlopez/Projects/wdi/05-backbone/xaun.github.io/source/stylesheets/style.scss */
    #about p span {
      color: grey;
      font-size: 14px; }
  /* line 64, /Users/xaunlopez/Projects/wdi/05-backbone/xaun.github.io/source/stylesheets/style.scss */
  #about .about-margin {
    top: 90px;
    text-align: center;
    position: absolute;
    padding: 90px 16% !important;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: url(); }

/* line 100, /Users/xaunlopez/Projects/wdi/05-backbone/xaun.github.io/source/stylesheets/style.scss */
#projects {
  text-align: center;
  border-top: 2px solid black; }
  /* line 104, /Users/xaunlopez/Projects/wdi/05-backbone/xaun.github.io/source/stylesheets/style.scss */
  #projects p {
    margin: 15px 340px; }
  /* line 108, /Users/xaunlopez/Projects/wdi/05-backbone/xaun.github.io/source/stylesheets/style.scss */
  #projects h3 {
    margin-top: 10px; }
  /* line 112, /Users/xaunlopez/Projects/wdi/05-backbone/xaun.github.io/source/stylesheets/style.scss */
  #projects .btn {
    border: 1px solid black;
    padding: 4px 15px;
    margin: 10px 0 40px 0;
    display: inline-block; }
  /* line 119, /Users/xaunlopez/Projects/wdi/05-backbone/xaun.github.io/source/stylesheets/style.scss */
  #projects .btn-1:hover {
    background-color: #ea9d73; }
  /* line 122, /Users/xaunlopez/Projects/wdi/05-backbone/xaun.github.io/source/stylesheets/style.scss */
  #projects .btn-2:hover {
    background-color: #ecc76e; }
  /* line 125, /Users/xaunlopez/Projects/wdi/05-backbone/xaun.github.io/source/stylesheets/style.scss */
  #projects .btn-3:hover {
    background-color: #f3d796; }
  /* line 128, /Users/xaunlopez/Projects/wdi/05-backbone/xaun.github.io/source/stylesheets/style.scss */
  #projects .btn-4:hover {
    background-color: #8fa670; }
  /* line 133, /Users/xaunlopez/Projects/wdi/05-backbone/xaun.github.io/source/stylesheets/style.scss */
  #projects #storebuilder-description {
    position: relative;
    border-bottom: 1px solid black;
    padding-bottom: 20px; }
    /* line 143, /Users/xaunlopez/Projects/wdi/05-backbone/xaun.github.io/source/stylesheets/style.scss */
    #projects #storebuilder-description #storebuilder-carousel {
      position: relative;
      overflow: hidden;
      width: 750px;
      height: 415px;
      margin: auto; }
      /* line 150, /Users/xaunlopez/Projects/wdi/05-backbone/xaun.github.io/source/stylesheets/style.scss */
      #projects #storebuilder-description #storebuilder-carousel img {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 750px;
        height: auto;
        border: 5px solid black;
        border-radius: 10px; }
  /* line 164, /Users/xaunlopez/Projects/wdi/05-backbone/xaun.github.io/source/stylesheets/style.scss */
  #projects .carousel-arrow {
    position: absolute;
    right: 270px;
    top: 386px;
    cursor: pointer; }
  /* line 173, /Users/xaunlopez/Projects/wdi/05-backbone/xaun.github.io/source/stylesheets/style.scss */
  #projects #threedee-description {
    position: relative;
    border-bottom: 1px solid black;
    padding-bottom: 50px; }
    /* line 178, /Users/xaunlopez/Projects/wdi/05-backbone/xaun.github.io/source/stylesheets/style.scss */
    #projects #threedee-description #threedee-carousel {
      position: relative;
      overflow: hidden;
      width: 750px;
      height: 415px;
      margin: auto; }
      /* line 185, /Users/xaunlopez/Projects/wdi/05-backbone/xaun.github.io/source/stylesheets/style.scss */
      #projects #threedee-description #threedee-carousel img {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 750px;
        height: auto;
        border: 5px solid black;
        border-radius: 10px; }
  /* line 199, /Users/xaunlopez/Projects/wdi/05-backbone/xaun.github.io/source/stylesheets/style.scss */
  #projects #cloudchaser-description {
    position: relative;
    border-bottom: 1px solid black;
    padding-bottom: 50px; }
    /* line 204, /Users/xaunlopez/Projects/wdi/05-backbone/xaun.github.io/source/stylesheets/style.scss */
    #projects #cloudchaser-description #cloudchaser-carousel {
      position: relative;
      overflow: hidden;
      width: 750px;
      height: 415px;
      margin: auto; }
      /* line 211, /Users/xaunlopez/Projects/wdi/05-backbone/xaun.github.io/source/stylesheets/style.scss */
      #projects #cloudchaser-description #cloudchaser-carousel img {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 750px;
        height: auto;
        border: 5px solid black;
        border-radius: 10px; }

/* line 226, /Users/xaunlopez/Projects/wdi/05-backbone/xaun.github.io/source/stylesheets/style.scss */
footer {
  height: 200px;
  background-image: url(/images/background.jpg);
  background-repeat: repeat;
  background-position: center;
  background-origin: center;
  background-attachment: fixed; }
  /* line 234, /Users/xaunlopez/Projects/wdi/05-backbone/xaun.github.io/source/stylesheets/style.scss */
  footer #contact-links {
    position: relative;
    margin-top: 60px;
    color: black;
    display: inline-block; }
    /* line 242, /Users/xaunlopez/Projects/wdi/05-backbone/xaun.github.io/source/stylesheets/style.scss */
    footer #contact-links li {
      list-style: none;
      display: inline-block;
      padding: 10px 30px; }
