<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Xaun Lopez</title>
</head>
<body>

  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Skills</a></li>
      <li><a href="#">Contacts</a></li>
    </ul>
  </nav>



  <script id="main-template" type="text/handlebars-template">
    <div>
      <img src="">
      <h1>Xaun Lopez</h1>
      <h3>Full Stack Web Developer</h3>
      <div></div>
    </div>
  </script>


  <script src="javascripts/jquery-2.1.1.min.js"></script>
  <script src="javascripts/all.js"></script>
</body>
</html>
